.tamagochi-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Ocupa toda la pantalla */
  background: #242424;
  color: #fff;
  margin-top: 1rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 20px 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.info-container-stats {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
}

.actions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.actions-container button {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1484e670;
  color: white;
  transition: background-color 0.3s;
}

img {
  margin-top: 15px;
  border-radius: 10px;
}

@media(max-width:480px) {
  .tamagochi-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Ocupa toda la pantalla */
    background: #242424;
    color: #fff;
    margin-top: 6rem;
  }
}